<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты анализа причин увольнения сотрудников</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>
    <header>
        <h1 align="center">Заголовок сайта</h1>
    </header>

    <main>
        <section>
            <h2 style="margin-left: 5%">Введение:</h2>
            <p style="margin-left: 5%"> Решение о смене работы не всегда принимается из-за низкой зарплаты или должности. 
                Диаграммы, представленные ниже, наглядно демонстрируют причины увольнения, помогая оптимизировать 
                стратегии удержания персонала и повысить лояльность сотрудников.</p>
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 2: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart1" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart1"), {
                type: 'bar',
                data: {
                    labels: ["Атмосфера" , "Обучение" , "Семья" , "Неудовлетворение" , "Условия труда" , "Зарплата" , "Возможности роста" , "Перегрузка" , "Переезд" , "Здоровье" , "Стабильность" , "Ценности" ],
                    datasets: [{
                        data: [153 , 96 , 80 , 17 , 350 , 162 , 117 , 176 , 27 , 3 , 19 , 11 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>     
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart2" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart2"), {
                type: 'bar',
                data: {
                    labels: ["Обучение" , "Семья" , "Неудовлетворение" , "Переезд" , "Здоровье" , "Ценности" ],
                    datasets: [{
                        data: [96 , 80 , 17 , 27 , 3 , 11 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart3" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart3"), {
                type: 'bar',
                data: {
                    labels: ["Атмосфера" , "Условия труда" , "Зарплата" , "Возможности роста" , "Перегрузка" , "Стабильность" ],
                    datasets: [{
                        data: [153 , 350 , 162 , 117 , 176 , 19 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 2: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart4" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart4"), {
                type: 'bar',
                data: {
                    labels: ["Да" , "Перегрузка" , "Зарплата" , "Нет" , "Условия труда" , "Переезд" , "Возможности роста" , "Атмосфера" , "Обучение" , "Стабильность" , "Здоровье" , "Семья" , "Ценности" , "Неудовлетворение" ],
                    datasets: [{
                        data: [954 , 106 , 146 , 339 , 92 , 24 , 45 , 33 , 20 , 5 , 3 , 36 , 29 , 1 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 3: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart5" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart5"), {
                type: 'bar',
                data: {
                    labels: ["Перегрузка" , "Условия труда" , "Переезд" , "Атмосфера" , "Обучение" , "Зарплата" , "Возможности роста" , "Ценности" , "Семья" , "Неудовлетворение" ],
                    datasets: [{
                        data: [120 , 130 , 40 , 39 , 18 , 164 , 49 , 29 , 30 , 3 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>


        <section>
            <h2 style="margin-left: 5%">Раздел 4: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart6" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart6"), {
                type: 'bar',
                data: {
                    labels: ["Атмосфера" , "Возможности роста" , "Условия труда" , "Зарплата" , "Перегрузка" , "Обучение" , "Неудовлетворение" , "Семья" , "Переезд" , "Ценности" ],
                    datasets: [{
                        data: [89 , 64 , 158 , 192 , 99 , 26 , 5 , 8 , 1 , 29 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>
    </main>
     
</body>
</html>