<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты анализа причин увольнения сотрудников</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


<body>
    <header>
        <h1 align="center">Заголовок сайта</h1>
    </header>

    <main>
        <section>
            <h2 style="margin-left: 5%">Введение: Решение о смене работы не всегда принимается из-за низкой зарплаты или должности. 
                 Диаграммы, представленные ниже, наглядно демонстрируют причины увольнения, помогая оптимизировать 
                 стратегии удержания персонала и повысить лояльность сотрудников.</h2>
            <p>Здесь будет текст, описывающий тему.</p>
            <p>Можно добавить больше текста, разбить его на абзацы.</p>
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 2: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart1" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart1"), {
                type: 'bar',
                data: {
                    labels: ["Атмосфера" , "Обучение" , "Семья" , "Менеджмент" , "Неудовлетворение" , "Возможности роста" , "Негативные эмоции" , "Условия труда" , "Перегрузка" , "Зарплата" , "Стабильность" , "Переезд" , "Здоровье" ],
                    datasets: [{
                        data: [75 , 70 , 79 , 231 , 24 , 38 , 125 , 158 , 112 , 41 , 18 , 3 , 1 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>     
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart2" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart2"), {
                type: 'bar',
                data: {
                    labels: ["Обучение" , "Семья" , "Неудовлетворение" , "Переезд" , "Здоровье" ],
                    datasets: [{
                        label: "Название 2 диаграммы",
                        data: [70 , 79 , 24 , 3 , 1 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart3" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart3"), {
                type: 'bar',
                data: {
                    labels: ["Атмосфера" , "Менеджмент" , "Возможности роста" , "Негативные эмоции" , "Условия труда" , "Перегрузка" , "Зарплата" , "Стабильность" ],
                    datasets: [{
                        label: "Название 3 диаграммы",
                        data: [75 , 231 , 38 , 125 , 158 , 112 , 41 , 18 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 2: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart4" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart4"), {
                type: 'bar',
                data: {
                    labels: ["Перегрузка" , "Менеджмент" , "Нет" , "Негативные эмоции" , "Условия труда" , "Атмосфера" , "Обучение" , "Зарплата" , "Стабильность" , "Здоровье" , "Неудовлетворение" , "Возможности роста" , "Семья" ],
                    datasets: [{
                        label: "Название 4 диаграммы",
                        data: [58 , 187 , 339 , 33 , 62 , 16 , 17 , 30 , 5 , 3 , 2 , 13 , 36 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>

        <section>
            <h2 style="margin-left: 5%">Раздел 3: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart5" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart5"), {
                type: 'bar',
                data: {
                    labels: ["Перегрузка" , "Условия труда" , "Негативные эмоции" , "Атмосфера" , "Обучение" , "Менеджмент" , "Возможности роста" , "Зарплата" , "Семья" , "Неудовлетворение" ],
                    datasets: [{
                        label: "Название 5 диаграммы",
                        data: [76 , 78 , 46 , 15 , 13 , 70 , 20 , 47 , 30 , 4 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>


        <section>
            <h2 style="margin-left: 5%">Раздел 4: Общая диаграмма с причинами, какой-то комментарий по желанию</h2>    
            <div style="align-items: center; width:500px; height:500px; margin-left: 5%; margin-top: 3%">
            <canvas id="chart6" width="300" height="200" ></canvas>
            <script>
                new Chart(document.getElementById("chart6"), {
                type: 'bar',
                data: {
                    labels: ["Менеджмент" , "Перегрузка" , "Условия труда" , "Негативные эмоции" , "Обучение" , "Зарплата" , "Неудовлетворение" , "Семья" , "Возможности роста" , "Атмосфера" ],
                    datasets: [{
                        label: "Название 6 диаграммы",
                        data: [96 , 77 , 45 , 82 , 21 , 48 , 6 , 8 , 31 , 12 ],
                        backgroundColor: [
                            'rgba(0, 99, 132, 0.6)',
                            'rgba(60, 99, 132, 0.6)',
                            'rgba(120, 99, 132, 0.6)',
                            'rgba(180, 99, 132, 0.6)',
                            'rgba(240, 99, 132, 0.6)'
                        ],
                        borderColor: [
                            'rgba(0, 99, 132, 1)',
                            'rgba(60, 99, 132, 1)',
                            'rgba(120, 99, 132, 1)',
                            'rgba(180, 99, 132, 1)',
                            'rgba(240, 99, 132, 1)'
                        ],
                        borderWidth: 2,
                        hoverBorderWidth: 0
                    }],
                    
                },
                options: {
                    align: "center",
                    indexAxis: 'y',
                    elements: {
                        rectangle: {
                        borderSkipped: 'left',
                        }
                    },
                }
                });
            </script>
            </div>   
        </section>
    </main>
     
</body>
</html>